<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://s.beta.myapp.com/myapp/rdmexp/exp/file/comagainfree001_651432_3bc657b3-d7c9-4ddd-985c-38cfde0971d3.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://www.justdoiter.cn/wp-content/uploads/2017/09/2017090422130620.jpg</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.again.free001</string>
                    <key>bundle-version</key>
                    <string>6.5.14.32</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
				    <string>神器紫色-更多好玩关注公众号：幽默的污哥</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>